.Heading {
  font-family: 'Dawning of a New Day', cursive;
  text-align: center;
  color: #D9D2B6;
  font-size: 40px;
}

html {
  background: url('http://i.imgur.com/GuJRWsA.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}

.greeting{
  font-family: 'Abril Fatface', cursive;  
  text-align: center;
  font-size: 40px;
  color: #D9D2B6;
  
}
